* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 18px;
    overscroll-behavior: contain;
}

.body_under_modal {
    overflow: hidden;
}

.root {
    /*position: relative;*/
    /*margin-top: 15vh;*/
    position: relative;
    /*max-width: 1366px;*/
    margin: 0 auto;
}

.app {
    height: 100vh;
    /*position: relative;*/
    /*margin-top: 15vh;*/
    position: relative;
    /*max-width: 1366px;*/
    margin: 0 auto;
    overflow: scroll;
    border-top: 1px solid;
}

.header {
    height: 25vh;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header_login_section {
    /*position: fixed;*/
    position: relative;
    /*top: 0;*/
    width: 100vw;
    min-height: 15vh;
    outline: blue solid 1px;
    /*background-color: aliceblue;*/
    background-color: #DCE3FF;
}

.language_switch_button {
    /*position: relative;*/
    /*text-decoration: none;*/
    margin-left: 1vw;
    z-index: 1;
}

.language_switch_button:visited {
    /*text-decoration: none;*/
}

.language_switch_button:hover {
    /*text-decoration: none;*/
}

.version {
    /*position: absolute;*/
    /*display: inline-block;*/
    /*top: 0;*/
    /*right: 0;*/
}

.user_name_field {
    height: 20px;
}

/*Styles for show/hide header_menu animation*/
.header_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 50px 0 0 50px;
    transition: 0.5s;
    background-color: white;
}

.header_menu_visible {
    width: 100%;
    opacity: 1;
}

.header_menu_buttons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    /*margin-bottom: 5px;*/
    transform: translateX(40px);
    background-color: white;
    /*transition: transform 0.5s;*/
}

.header_menu_buttons > img {
    width: 40px;
    height: 40px;
}

.header_menu_buttons_visible {
    transform: translateX(10px);
}

.header_menu_buttons:nth-child(1) {
    /*transition: transform 0.4s 0.1s;*/
    transition: transform 0.1s;
}

.header_menu_buttons:nth-child(2) {
    /*transition: transform 0.3s 0.2s;*/
    transition: transform 0.3s;
}

.header_menu_buttons:nth-child(3) {
    /*transition: transform 0.2s 0.3s;*/
    transition: transform 0.5s;
    margin-bottom: 0;
}

.burger_button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
    /*background-color: darkorange;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.burger_button_stick {
    width: 30px;
    height: 4px;
    background-color: firebrick;
    transition: transform 0.5s,
                opacity 0.5s;
    transform-origin: 1px;
}

.burger_button_clicked > :nth-child(1) {
    transform: rotate(45deg)
                translateX(5px)
                translateY(-5px);
}

.burger_button_clicked > :nth-child(2) {
    transform: translateX(-30px);
    opacity: 0;
}

.burger_button_clicked > :nth-child(3) {
    transform: rotate(-45deg)
                translateX(5px)
                translateY(5px);
}
/*Styles for show/hide header_menu animation*/
.list_select_menu_div {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.auth_menu_window_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 15vh;
    width: 100vw;
    height: 400px;
    box-sizing: border-box;
    z-index: 2;
    transition: opacity 0.5s;
}

.auth_menu_forms_labels {
    text-align: center;
    font-weight: bold;
}

.auth_menu_labels {
    margin-left: 10px;
    font-size: 14px;
}

.login_window, .register_window,
.change_password_window, .create_new_list_window {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 70%;
    width: 70%;
    border: 1px solid;
    border-radius: 10px 10px;
    background-color: cornflowerblue;
    background-color: white;
}

.login_window_ie, .register_window_ie,
.change_password_window_ie, .create_new_list_window_ie {
    position: absolute;
    height: 70%;
    width: 70%;
    border: 1px solid;
    border-radius: 10px 10px;
    left: 15%;
    top: 15%;
    background-color: cornflowerblue;
}

.auth_menu_input_field {
    width: 90%;
    display: block;
    margin: 0 10px;
    border-radius: 20px 20px;
    outline: none;
}

.login_form_button, .register_form_button, .change_password_form_submit_button, .create_new_list_form_submit_button {
    border-radius: 20px 20px;
    margin-left: 10px;
    margin-top: 15px;
    outline: none;
}

.switch_to_register_button, .switch_to_login_button {
    position: absolute;
    min-width: 60px;
    bottom: 0;
    border-radius: 20px 20px;
}

.agreement {
    margin: 10px 10px 0;
    font-size: 14px;
    word-break: break-word;
}

.info_field {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.task_input {
    position: relative;
    height: 90px;
    border-top: solid 1px;
    border-radius: 0 0 30% 30%;
    background-color: rgba(255, 255 , 255 , 0.8);
}

.task_input_form {
    margin-top: 25px;
}

.task_input > form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.task_input_field {
    width: 70vw;
    font-size: 18px;
    border-radius: 20px 20px;
    outline: none;
}

.task_input_button {
    float: right;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 1px 1px 3px;
}

.task_input_button:active {
    box-shadow: inset 1px 1px 1px;
}

.task_input_button > img {
    transition: transform 0.1s;
}

.task_input_button:active > img {
    transform: scale(0.9);
}

.task_list {
    width: 95vw;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
}

.checked_tasks_separator_paragraph {
    text-align: center;
}

.let_start_div {
    text-align: center;
}

.let_start_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.let_start_paragraph {
    font-size: 14px;
}

.task {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*outline: solid 1px;*/
    margin: 10px auto ;
    border-radius: 25px;
    box-shadow: 0 0 3px;
    background-color: white;
    /*transition: transform 0.5s;*/
}

.active_moving_task {
    z-index: 1;
}

.task_div_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    width: 100%;
    min-height: 40px;
    /*margin: 10px auto ;*/
    /*box-shadow: 0 0 3px;*/
}

.task_moving_buttons {
    font-size: 10px;
}

.task_finish_button {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 1px 1px 3px;
}

.task_finish_button:active {
    box-shadow: inset 1px 1px 3px;
}

.task_finish_button > img {
    transition: transform 0.1s;
}

.task_finish_button:active > img {
    transform: scale(0.9);
}

.show_subtask_div_button {
    width: 20px;
    height: 20px;
    border-radius: 20px 20px;
    outline: none;
    z-index: 2;
}

.show_subtask_div_button_hidden {
    z-index: 0 !important;
}

.task_text_div {
    position: relative;
    width: 60%;
}

.task_text {
    display: inline-block;
    width: 60%;
    opacity: 1;
    vertical-align: middle;
    word-break: break-word;
    margin-left: 5px;
    transition: opacity 0.5s;
}

.task_text_hidden {
    opacity: 0.2;
}

.remove_task_button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    outline: none;
    border: none;
    transform: scale(1);
    box-shadow: 1px 1px 3px;
    transition: transform 0.5s 0.2s;
}

.remove_task_button_hidden {
    transform: scale(0);
    transition-delay: 0s !important;
}

.remove_task_button:active {
    box-shadow: inset 1px 1px 1px;
}

.remove_task_button > img {
    transition: transform 0.1s;
}

.remove_task_button:active > img {
    transform: scale(0.9);
}

.finished_task > .task_text {
    text-decoration: line-through;
}

/*Styles for show/hide subtask and task edit fields animation*/
.subtask_div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 20px;
    top: 50%;
    left: 25%;
    margin-top: -10px;
    box-sizing: border-box;
    visibility: visible;
    z-index: 2;
}

.edit_task_div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    /*height: 20px;*/
    height: 100%;
    /*top: 50%;*/
    left: 25%;
    /*margin-top: -10px;*/
    box-sizing: border-box;
    visibility: visible;
    z-index: 2;
}

.subtask_div_hidden, .edit_task_div_hidden {
    visibility: hidden;
    transition: visibility 0s 0.7s !important;
}

.add_subtask_text_field {
    width: 65%;
    font-size: 18px;
    opacity: 1;
    outline: none;
    border-radius: 20px;
    visibility: inherit;
    transition: width 0.5s,
                opacity 0.5s;
}

.add_subtask_text_field_hidden {
    width: 0;
    opacity: 0;
}

.add_subtask_button, .save_edit_button {
    width: 48px;
    height: 48px;
    transform: scale(1);
    opacity: 1;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 1px 1px 3px;
    visibility: inherit;
    transition: opacity 0.5s,
                transform 0.5s 0.2s;
}

.add_subtask_button_hidden, .save_edit_button_hidden {
    transform: scale(0);
    transition-delay: 0s !important;
}

.add_subtask_button:active {
    box-shadow: inset 1px 1px 1px;
}

.add_subtask_button > img {
    transition: transform 0.1s;
}

.add_subtask_button:active > img {
    transform: scale(0.9);
}

.edit_task_text_field {
    resize: none;
    width: 75%;
    transform: scale(1);
    font-size: 14px;
    border-radius: 10px;
    left: 0;
    opacity: 1;
    outline: none;
    visibility: inherit;
    transition: width 0.5s,
                opacity 0.5s,
                transform 0.5s;
}

.edit_task_text_field_hidden {
    opacity: 0;
}

.save_edit_button:active {
    box-shadow: inset 1px 1px 1px;
}

.save_edit_button > img {
    transition: transform 0.1s;
}

.save_edit_button:active > img {
    transform: scale(0.9);
}
/*Styles for show/hide subtask and task edit fields animation*/

/*Styles for show/hide confirm window animation*/
.confirm_window, .info_window {
    position: fixed;
    width: 200px;
    text-align: center;
    background-color: #b7e6e6d1;
    border-radius: 20px;
    top: 20vw;
    left: 50%;
    margin-left: -100px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.confirm_window_visible, .info_window_visible {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.confirm_window_hidden {
    visibility: hidden;
    transition: opacity 0.5s,
                visibility 0s 0.5s;
}
/*Styles for show/hide confirm window animation*/
.confirm_window_message {
    margin-top: 10px;
}

.confirm_window_buttons {
    margin: 5px 5px;
}

.loading_window {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 200px;
    height: 100px;
    top: 20vw;
    background-color: aqua;
    border-radius: 20px;
    left: 50%;
    margin-left: -100px;
    z-index: 1000;
    visibility: hidden;
}

/*Styles for show/hide shadow animation*/
.shadow_main {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0;
    top: 0;
    transition: opacity 0.5s;
}

.shadow_visible {
    visibility: visible;
    opacity: 0.5;
    z-index: 1;
}

.shadow_hidden {
    visibility: hidden;
    transition: opacity 0.5s,
                visibility 0s 0.5s;
}
/*Styles for show/hide shadow animation*/

/*Styles for show/hide cookies alert window animation*/
.cookies_alert_window {
    position: fixed;
    display: block;
    top: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 1000;
    transition: opacity 0.5s,
                visibility 0.5s;
}

.cookies_alert_window_hidden {
    visibility: hidden;
    opacity: 0;
}
/*Styles for show/hide cookies alert window animation*/

/* Temporal styles for settings menu window */
.settings_window {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.settings_window_hidden {
    visibility: hidden;
}

.exit_button {
    align-self: flex-end;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: white;
}

.settings_window_header {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
}

.settings_window_title {
    text-align: center;
    margin-top: 5px;

}

.settings_window_buttons_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings_window_buttons_div > * {
    margin-bottom: 20px;
}

.settings_window_checkbox {
    margin-right: 5px;
}

.settings_window_checkbox_label {
    width: 150px;
    text-align: center;
}

.settings_window_buttons {
    width: 100px;
    height: 40px;
    white-space: normal;
    border-radius: 20px;
    outline: none;
}

.settings_window_title {
    text-align: center;
}

.settings_window_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright {
    text-align: center;
}
/* Temporal styles for settings menu window */

.cookies_alert_window_text {
    text-align: center;
    color: white;
}

/* Styles for validation error window hide/show*/
.validation_error_window {
    position: absolute;
    top: 75px;
    left: 20vw;
    min-width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: gray;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s,
                opacity 0.5s;
}

.validation_error_window_hidden {
    opacity: 0;
    visibility: hidden;
}

.validation_error_info_field > p {
    text-align: center;
}

.validation_error_window_arrow {
    /* position: absolute; */
    margin-left: 20px;
    margin-top: -5px;
    width: 25px;
    height: 25px;
    background-color: gray;
    transform: rotate(45deg);
}
/* Styles for validation error window hide/show*/

/*@media (max-width: 400px) {*/
/*    .auth_menu {*/
/*        width: 100%;*/
/*        margin-left: -50%;*/
/*        box-sizing: border-box;*/
/*    }*/

/*    .main_window {*/
/*        width: 100%;*/
/*    }*/

/*    .task {*/
/*        width: 100%;*/
/*        box-sizing: border-box;*/
/*    }*/

/*}*/

