* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 18px;
}

.root {
    /*position: relative;*/
    /*margin-top: 15vh;*/
    position: relative;
    /*max-width: 1366px;*/
    margin: 0 auto;
}

.app {
    /*position: relative;*/
    /*margin-top: 15vh;*/
    position: relative;
    /*max-width: 1366px;*/
    margin: 0 auto;
}

.header {
    /*position: fixed;*/
    position: relative;
    /*top: 0;*/
    width: 100vw;
    min-height: 15vh;
    outline: blue solid 1px;
    background-color: aliceblue;
}

.language_switch_button {
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.language_switch_button:visited {
    text-decoration: none;
}

.language_switch_button:hover {
    text-decoration: none;
}

.version {
    /*position: absolute;*/
    /*display: inline-block;*/
    /*top: 0;*/
    /*right: 0;*/
}

.user_name_field {
    height: 20px;
}

/*Styles for show/hide header_menu animation*/
.header_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    /*opacity: 0;*/
}

.header_menu_list {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px 0 0 50px;
    transition: 0.5s;
    background-color: aquamarine;
}

.header_menu_list_visible {
    width: 100%;
    opacity: 1;
}

.header_menu_list_buttons {
    width: 60px;
    margin-bottom: 5px;
    transform: translateX(40px);
    /*transition: transform 0.5s;*/
}

.header_menu_list_buttons_visible {
    transform: translateX(10px);
}

.header_menu_list_buttons:nth-child(1) {
    /*transition: transform 0.4s 0.1s;*/
    transition: transform 0.1s;
}

.header_menu_list_buttons:nth-child(2) {
    /*transition: transform 0.3s 0.2s;*/
    transition: transform 0.3s;
}

.header_menu_list_buttons:nth-child(3) {
    /*transition: transform 0.2s 0.3s;*/
    transition: transform 0.5s;
    margin-bottom: 0;
}

.burger_button {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
    /*background-color: darkorange;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.burger_button_stick {
    width: 25px;
    height: 3px;
    background-color: firebrick;
    transition: transform 0.5s,
                opacity 0.5s;
    transform-origin: 1px;
}

.burger_button_clicked {

}

.burger_button_clicked > :nth-child(1) {
    transform: rotate(45deg)
                translateX(5px)
                translateY(-5px);
}

.burger_button_clicked > :nth-child(2) {
    transform: translateX(-20px);
    opacity: 0;
}

.burger_button_clicked > :nth-child(3) {
    transform: rotate(-45deg)
                translateX(5px)
                translateY(5px);
}
/*Styles for show/hide header_menu animation*/

/*Styles for show/hide auth menu animation*/
.auth_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15vh;
    width: 100vw;
    height: 400px;
    border: 1px solid;
    border-radius: 20px 20px;
    box-sizing: border-box;
    background-color: cornflowerblue;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s;
}

.auth_menu_visible {
    visibility: visible;
    opacity: 1;
}

.auth_menu_hidden {
    visibility: hidden;
    transition: opacity 0.5s,
                visibility 0s 0.5s;
}
/*Styles for show/hide auth menu animation*/

.auth_menu_forms_labels {
    text-align: center;
    font-weight: bold;
}

.auth_menu_labels {
    margin-left: 10px;
}

/*Styles for show/hide login & register windows animation*/
.login_window, .register_window, .change_password_window {
    position: absolute;
    height: 70%;
    width: 70%;
    opacity: 0;
    border: 1px solid;
    border-radius: 10px 10px;
    transition: opacity 0.5s;
}

.login_window_visible, .register_window_visible, .change_password_window_visible {
    visibility: visible;
    opacity: 1;
}

.login_window_hidden, .register_window_hidden, .change_password_window_hidden {
    visibility: hidden;
    transition: opacity 0.5s,
                visibility 0s 0.5s;
}
/*Styles for show/hide login & register windows animation*/

.login_form_username, .login_form_password {
    /*width: 176px;*/
    width: 90%;
    display: block;
    margin: 0 10px;
    border-radius: 20px 20px;
    outline: none;
}

.login_form_button, .register_form_button, .change_password_form_button {
    border-radius: 20px 20px;
    margin-left: 10px;
    outline: none;
}

.switch_to_register_button, .switch_to_login_button {
    position: absolute;
    min-width: 60px;
    bottom: 0;
    border-radius: 20px 20px;
}

.register_form_username, .register_form_password, .register_form_password_confirm{
    width: 90%;
    display: block;
    margin: 0 10px;
    border-radius: 20px 20px;
    outline: none;
}

.change_password_form_old_password, .change_password_form_new_password, .change_password_form_new_password_confirm {
    width: 90%;
    margin-left: 10px;
    display: block;
    border-radius: 20px 20px;
}

.agreement {
    margin: 10px;
    font-size: 14px;
    word-break: break-word;
}

.login_window_info, .register_window_info, .change_password_window_info {
    text-align: center;
    font-size: 16px;
}

.main_window {
    width: 95vw;
    margin: 0 auto;
}

.task_input {
    margin-top: 10px;
}

.task_input > form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_input_field {
    width: 70vw;
    font-size: 18px;
    border-radius: 20px 20px;
    outline: none;
}

.task_input_button {
    float: right;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 1px 1px 3px;
}

.task_input_button:active {
    box-shadow: inset 1px 1px 1px;
}

.task_input_button > img {
    transition: transform 0.1s;
}

.task_input_button:active > img {
    transform: scale(0.9);
}

.task_div_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    width: 100%;
    min-height: 40px;
    margin: 10px auto ;
    box-shadow: 0 0 3px;
}

.task_finish_button {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 1px 1px 3px;
}

.task_finish_button:active {
    box-shadow: inset 1px 1px 3px;
}

.task_finish_button > img {
    transition: transform 0.1s;
}

.task_finish_button:active > img {
    transform: scale(0.9);
}

.show_subtask_div_button {
    width: 20px;
    height: 20px;
    border-radius: 20px 20px;
    outline: none;
    z-index: 1;
}

.show_subtask_div_button_hidden {
    z-index: 0 !important;
}

.task_text_div {
    position: relative;
    width: 60%;
}

.task_text {
    display: inline-block;
    width: 60%;
    opacity: 1;
    vertical-align: middle;
    word-break: break-word;
    margin-left: 5px;
    transition: opacity 0.5s;
}

.task_text_hidden {
    opacity: 0.2;
}

.remove_task_button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    outline: none;
    border: none;
    transform: scale(1);
    box-shadow: 1px 1px 3px;
    transition: transform 0.5s 0.2s;
}

.remove_task_button_hidden {
    transform: scale(0);
    transition-delay: 0s !important;
}

.remove_task_button:active {
    box-shadow: inset 1px 1px 1px;
}

.remove_task_button > img {
    transition: transform 0.1s;
}

.remove_task_button:active > img {
    transform: scale(0.9);
}

.finished_task > .task_text {
    text-decoration: line-through;
}

/*Styles for show/hide subtask and task edit fields animation*/
.subtask_div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 20px;
    top: 50%;
    left: 25%;
    margin-top: -10px;
    box-sizing: border-box;
    visibility: visible;
    z-index: 1;
}

.edit_task_div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    /*height: 20px;*/
    height: 100%;
    /*top: 50%;*/
    left: 25%;
    /*margin-top: -10px;*/
    box-sizing: border-box;
    visibility: visible;
    z-index: 1;
}

.subtask_div_hidden, .edit_task_div_hidden {
    visibility: hidden;
    transition: visibility 0s 0.7s !important;
}

.add_subtask_text_field {
    width: 65%;
    font-size: 18px;
    opacity: 1;
    outline: none;
    border-radius: 20px;
    visibility: inherit;
    transition: width 0.5s,
                opacity 0.5s;
}

.add_subtask_text_field_hidden {
    width: 0;
    opacity: 0;
}

.add_subtask_button, .save_edit_button {
    width: 48px;
    height: 48px;
    transform: scale(1);
    opacity: 1;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 1px 1px 3px;
    visibility: inherit;
    transition: opacity 0.5s,
                transform 0.5s 0.2s;
}

.add_subtask_button_hidden, .save_edit_button_hidden {
    transform: scale(0);
    transition-delay: 0s !important;
}

.add_subtask_button:active {
    box-shadow: inset 1px 1px 1px;
}

.add_subtask_button > img {
    transition: transform 0.1s;
}

.add_subtask_button:active > img {
    transform: scale(0.9);
}

.edit_task_text_field {
    width: 75%;
    height: 50%;
    transform: scale(1);
    font-size: 14px;
    border-radius: 20px;
    left: 0;
    opacity: 1;
    outline: none;
    visibility: inherit;
    transition: width 0.5s,
                opacity 0.5s,
                transform 0.5s;
}

.edit_task_text_field_hidden {
    transform: scale(0);
    width: 0;
}

/*.save_edit_button {*/
/*    width: 48px;*/
/*    height: 48px;*/
/*    transform: scale(1);*/
/*    border-radius: 50%;*/
/*    border: none;*/
/*    outline: none;*/
/*    box-shadow: 1px 1px 3px;*/
/*    visibility: inherit;*/
/*    transition: opacity 0.5s,*/
/*                transform 0.5s 0.2s;*/
/*}*/

.save_edit_button:active {
    box-shadow: inset 1px 1px 1px;
}

.save_edit_button > img {
    transition: transform 0.1s;
}

.save_edit_button:active > img {
    transform: scale(0.9);
}
/*Styles for show/hide subtask and task edit fields animation*/

/*Styles for show/hide confirm window animation*/
.confirm_window {
    position: absolute;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: #b7e6e6d1;
    border-radius: 20px;
    top: 20vw;
    left: 50%;
    margin-left: -100px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.confirm_window_visible {
    visibility: visible;
    opacity: 1;
}

.confirm_window_hidden {
    visibility: hidden;
    transition: opacity 0.5s,
                visibility 0s 0.5s;
}
/*Styles for show/hide confirm window animation*/
.confirm_window_message {
    margin-top: 10px;
}

.info_window {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 20vw;
    background-color: aqua;
    left: 50%;
    margin-left: -100px;
    z-index: 1;
    /*display: none;*/
    visibility: hidden;
}

.loading_window {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 20vw;
    background-color: aqua;
    left: 50%;
    margin-left: -100px;
    z-index: 1;
    /*display: none;*/
    display: block;
    visibility: hidden;
}

/*Styles for show/hide shadow animation*/
.shadow_main {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0;
    top: 0;
    transition: opacity 0.5s;
}

.shadow_visible {
    visibility: visible;
    opacity: 0.5;
}

.shadow_hidden {
    visibility: hidden;
    transition: opacity 0.5s,
                visibility 0s 0.5s;
}
/*Styles for show/hide shadow animation*/

.cookies_alert_window {
    position: fixed;
    top: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 1000;
    display: none;
    transition: opacity 0.5s;
}

.cookies_alert_window_text {
    text-align: center;
    color: white;
}

/*@media (max-width: 400px) {*/
/*    .auth_menu {*/
/*        width: 100%;*/
/*        margin-left: -50%;*/
/*        box-sizing: border-box;*/
/*    }*/

/*    .main_window {*/
/*        width: 100%;*/
/*    }*/

/*    .task {*/
/*        width: 100%;*/
/*        box-sizing: border-box;*/
/*    }*/

/*}*/

