* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    margin: 0 auto;
    position: relative;
}

.auth_menu {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 1px solid;
    background-color: cornflowerblue;
    opacity: 100%;
    left: 50%;
    margin-left: -200px;
    transition: opacity 1s;
}

.auth_menu_form {
    height: 200px;
    width: 200px;
    border: 1px solid;
    margin-left: 100px;
    margin-top: 100px;
}

.login {
    display: block;
    margin: 0 auto;
}

.pass {
    display: block;
    margin: 0 auto;
}

/*.padding-site {*/
/*    padding-left: 100px;*/
/*    padding-right: 100px;*/
/*}*/

.main_window {
    outline: solid;
}

.task_input {
    width: 300px;
    margin: 0 auto;
    outline: solid;
}

.task_input_field {
    width: 200px;
    border-radius: 20px 20px;
}

.task_input_button {
    float: right;
    border-radius: 20px 20px;
}

.task {
    color: red;
    background-color: cyan;
    border-radius: 20px 20px;
    width:300px;
    margin: 0 auto;
    outline: solid;
}

.paragraph {
    display: inline-block;
}

.task_remove_button {
    float: right;
    border-radius: 20px 20px;
}

.task_finish_button {
    border-radius: 20px 20px;
    width: 100px;
}

.finished_task > p{
    text-decoration: line-through;
}