<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=No">
    <title>Page Title</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="https://kit.fontawesome.com/8141c9e7b9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/compiled/style_compiled.css">
    <script defer src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script defer src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="/static/js/compiled/todo_classes_compiled.js"></script>
    <script defer src="/static/js/compiled/todo_functions_compiled.js"></script>
    <script defer src="/static/js/compiled/main_compiled.js"></script>
</head>
<body>

<script>
    let localisation = {{ data|tojson }}
</script>
<div class="root" id="root"></div>
</body>
</html>
