<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Page Title</title>
    <link rel="stylesheet" href="../static/css/style_compiled.css">
    <script src="../static/js/script-compiled.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <p class="user_name_field" id='user_name_field'></p>
        <input class='user_logout_button' id='user_logout_button' type="button" value="Log Out" disabled>
        <input class="user_delete_button" id="user_delete_button" type="button" value="Delete user">
    </div>
    <div id="auth_menu" class="auth_menu">
        <div id="login_form" class="login_form">
            <form>
                <label for="login_field"></label><input type="text" id="login_field" class="login_field" value="admin">
                <label for="pass"></label><input type="password" id="pass" class="pass">
                <input type="button" id="login_field_button" class="login_field_button" value="Отправить">
            </form>
            <p id="login_form_info" class="login_form_info"></p>
            <button type="button" value='register' id="register_button" class="register_button">Register</button>
        </div>
        <div id="register_form" class="register_form">
            <form>
                <label for="register_form_text"></label><input type="text" id="register_form_text" class="register_form_text">
                <input type="button" value="Создать" id="register_form_button" class="register_form_button">
            </form>
            <p id="register_form_info" class="register_form_info">Enter new user name</p>
            <button type="button" value='login' disabled="disabled" id="login_button" class="login_button">Log In</button>
        </div>
    </div>
    <div class="main_window">
        <div class="task_input">
            <form>
                <label for="task_input_field"></label><input type="text" id="task_input_field" class="task_input_field">
                <input type="button" id="task_input_button" class="task_input_button" value="Добавить">
            </form>
        </div>
        <div id="main_tasks" class="main_tasks">

        </div>
    </div>
    <div class="confirm_window" id="confirm_window">
        <p class="confirm_window_message" id="confirm_window_message"></p>
        <input type="button" class="confirm_window_ok_button" id="comfirm_window_ok_button" value="OK">
        <input type="button" class="confirm_window_cancel_button" id="confirm_window_cancel_button" value="Cancel">
    </div>
</div>
<div class="shadow" id="shadow"></div>
</body>
</html>
