<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=No">
    <title>Page Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="static/js/todo_classes.js"></script>
    <script defer src="static/js/todo_functions.js"></script>
    <script defer src="static/js/main.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <p class="user_name_field" id='user_name_field'></p>
        <input class='user_logout_button' id='user_logout_button' type="button" value="Log Out">
        <input class="user_delete_button" id="user_delete_button" type="button" value="Delete user">
    </div>
    <div id="auth_menu" class="auth_menu">
        <div id="login_window" class="login_window">
            <p class="auth_menu_forms_labels">Login window</p>
            <form name="login_form">
                <label for="login_form_username" class="auth_menu_labels">Enter username</label><input type="text" name="login_form_username" id="login_form_username" class="login_form_username" placeholder="User Name">
                <label for="login_form_password" class="auth_menu_labels">Enter password</label><input type="password" name="login_form_password" id="login_form_password" class="login_form_password" placeholder="Password">
                <input type="button" id="login_form_button" class="login_form_button" value="Отправить">
            </form>
            <p id="login_window_info" class="login_window_info"></p>
            <button type="button" value='register' id="register_button" class="register_button">Register</button>
        </div>
        <div id="register_window" class="register_window">
            <p class="auth_menu_forms_labels">Register window</p>
            <form name="register_form">
                <label for="register_form_username" class="auth_menu_labels">Enter username</label><input type="text" name="register_form_username" id="register_form_username" class="register_form_username" placeholder="User Name">
                <label for="register_form_password" class="auth_menu_labels">Enter password</label><input type="password" name="register_form_password" id="register_form_password" class="register_form_password" placeholder="Password">
                <label for="register_form_password_confirm" class="auth_menu_labels">Confirm password</label><input type="password" name="register_form_password_confirm" id="register_form_password_confirm" class="register_form_password_confirm" placeholder="Confirm password">
                <p class="agreement" id="agreement"><input type="checkbox" id="agreement_checkbox"><label for="agreement_checkbox">Нажимая вы соглашаетесь с <a href="../static/agreements/agreement_ru.html" target="_blank">соглашением</a>, воть.</label></p>
                <input type="button" value="Создать" id="register_form_button" class="register_form_button">
            </form>
            <p id="register_window_info" class="register_window_info"></p>
            <button type="button" value='login' disabled="disabled" id="login_button" class="login_button">Log In</button>
        </div>
    </div>
    <div class="main_window">
        <div class="task_input">
            <form>
                <label for="task_input_field"></label><input type="text" id="task_input_field" class="task_input_field">
                <button type="submit" id="task_input_button"
                       class="task_input_button">
                    <img src="static/icons/add_sub.svg" alt="+">
                </button>
            </form>
        </div>
        <div id="main_tasks" class="main_tasks"></div>
    </div>
    <div class="confirm_window" id="confirm_window">
        <p class="confirm_window_message" id="confirm_window_message"></p>
        <input type="button" class="confirm_window_ok_button" id="confirm_window_ok_button" value="OK">
        <input type="button" class="confirm_window_cancel_button" id="confirm_window_cancel_button" value="Cancel">
    </div>
    <div class="info_window" id="info_window">
        <p class="info_window_message" id="info_window_message"></p>
    </div>
    <div class="loading_window" id="loading_window">
        <p class="loading_window_message" id="loading_window_message">ГРУЖУСЬ</p>
    </div>
</div>
<div class="shadow" id="shadow"></div>
<div class="cookies_alert_window" id="cookies_alert_window">
    <p class="cookies_alert_window_text"
       id="cookies_alert_window_text"></p>
        <button type="submit" class="cookies_alert_confirm_button"
                id="cookies_alert_confirm_button">OK
        </button>
</div>
</body>
</html>
